#logo{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	margin-left: 50px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Fjalla One', sans-serif;
}
header #lg ul{
	float: right;
	margin-right: 20px;
}
header #lg ul li{
	display: inline-block;
}
header #lg ul li a{
	background-color: #de5b1a;
	border-radius: 8px;
	padding: 5px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover{
	color: black;	
}

header nav ul li{
	display: inline-block;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	margin-top: 8px ;
}
header nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
}
header nav{
	background-color: #de5b1a;
	text-align: center;
}
/*barre de recherche*/
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
.titre1
{	text-align: center;}
footer{
	height: 230px;
	background-color: black;
	color: white;
}
footer a img{
	float: left;
	padding-left: 65px;
	padding-top: 30px;
}
footer #pictos{
	float: right;
	margin-right: 50px;
}
footer #pictos a img{
	margin-left: 70px;
	margin-right: 70px;
}
footer p{
	text-align: center;
}

#entete{
	height: 500px;
	margin-top: -16px;
	background-image: url(../../images/photos/ticket_office.png);
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 20px;
}
section hr{
	margin-top: 50px;
}
input{
	font-size: 20px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-bottom-width: 1.5px;
	border-bottom-color: #de5b1a;
	border-bottom-style: solid;
	size: 20px;
}
h2{
	margin-left: 150px;
	font-size: 35px;
}
#continuer{
	float: right;
	margin-right: 150px;
	text-decoration: none;
	color: white;
	background-color: #de5b1a;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
}